body {
    margin: 0;
    padding : 0;

}

.header{
    padding-bottom: 20px
}

.banner{
    margin: 0;
    padding: 0;
    background-color: blue;
    height: 200px;

   text-align: center;
   padding: 80px 0 0 0;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size: 18px;
   font-weight: 900;
}

.logoheader {
   max-height : 100px !important ;
   text-align:center
}

.maxheight{
    max-height  : 200px
}

.bannerfont{
  
}

.contentbody {
   background-image: url("/Assets/client/images/background.jpg");
   height: 400px
}

.bs-example{
    padding: 50px
}