 <!-- Content Header (customHeader header) -->
<section class="content-header">
    <h1>
        Cập nhật header
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> header</a></li>
        <li><a href="#">header</a></li>
        <li><a ui-sref="customHeader_categories">header</a></li>
        <li class="active">Thêm mới</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">cập nhật</h3>
        </div><!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" novalidate name="frmEditcustomHeader" role="form" ng-submit="EditCustomHeader()">
            <div class="box-body">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Mục</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" disabled ng-maxlength="250" required name="type" ng-model="customHeader.Type">
                        <span ng-show="frmEditcustomHeader.type.$invalid" class="has-error">Phải nhập tên header</span>
                        <span ng-show="frmEditcustomHeader.type.$error.maxlength" class="has-error">Tên header chỉ được 250 ký tự</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="status" ng-model="customHeader.Status" ng-checked="customHeader.Status" />Kích hoạt
                            </label>
                        </div>
                    </div>
                </div>
            </div><!-- /.box-body -->
            <div class="box-footer">
                <button ui-sref="customheader" class="btn btn-default">Cancel</button>
                <button type="submit" ng-disabled="frmEditcustomHeader.$invalid" class="btn btn-success pull-right">Lưu</button>
            </div><!-- /.box-footer -->
        </form>
    </div><!-- /.box -->
</section><!-- /.content -->