<marquee direction="Up" scrollamount="1">
    <div class="bs-example">
        <table class="table">
            <thead>
                <tr>
                    <th>Họ và tên</th>
                    <th>Lớp</th>
                    <th>Số tiền</th>
                    <th>Địa chỉ</th>
                    <th>Ghi chú</th>
                </tr>
            </thead>
            <tbody id="tblData"></tbody>
        </table>
    </div>
</marquee>
    <script id="data-template" type="x-tmpl-mustache">
        <tr>
            <td>{{Name}}</td>
            <td>{{Class}}</td>
            <td>{{Appellation}}</td>
            <td>{{CountBook}}</td>
            <td>{{Note}}</td>
        </tr>
    </script>
