<!DOCTYPE html>
<html>
<head>
    <title>Trang chủ</title>
    <meta charset="utf-8" />
    <link href="~/Assets/admin/libs/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Assets/client/css/style.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="row">
                <div class="col-md-12">
                    <div class=".col-md-2 maxheight">
                        <div class="img-responsive logoheader pull-left">
                            <img class="maxheight" src="~/Assets/admin/img/avatar.png" />
                        </div>
                    </div>
                    <div class=".col-md-9 .col-md-offset-1 .maxheight banner">
                        Test Chữ
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="contentbody">
            </div>
        </div>
    </div>
</body>
</html>