 <!-- Content Header (laudatory header) -->
<section class="content-header">
    <h1>
        Cập nhật khen thưởng
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> khen thưởng chủ</a></li>
        <li><a href="#">khen thưởng</a></li>
        <li><a ui-sref="laudatories">khen thưởng</a></li>
        <li class="active">Cập nhật</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Thêm mới</h3>
        </div><!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" novalidate name="frmEditlaudatory" role="form" ng-submit="Editlaudatory()">
            <div class="box-body">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Tên khen thưởng</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-maxlength="250" required name="name" ng-model="laudatory.Name">
                        <span ng-show="frmEditlaudatory.name.$invalid" class="has-error">Phải nhập tên khen thưởng</span>
                        <span ng-show="frmEditlaudatory.name.$error.maxlength" class="has-error">Tên khen thưởng chỉ được 250 ký tự</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Danh hiệu</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-maxlength="250" required name="appellation" ng-model="laudatory.Appellation">
                        <span ng-show="frmEditlaudatory.appellation.$invalid" class="has-error">Phải nhập danh hiệu</span>
                        <span ng-show="frmEditlaudatory.appellation.$error.maxlength" class="has-error">Danh hiệu chỉ được 250 ký tự</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Lớp</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-maxlength="250" required name="class" ng-model="laudatory.Class">
                        <span ng-show="frmEditlaudatory.class.$invalid" class="has-error">Phải nhập lớp</span>
                        <span ng-show="frmEditlaudatory.class.$error.maxlength" class="has-error">lớp chỉ được 250 ký tự</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Số quyển sách</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" required name="countBook" ng-model="laudatory.CountBook">
                        <span ng-show="frmEditlaudatory.countBook.$invalid" class="has-error">Phải nhập số quyển sách</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Ghi chú</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" name="note" ng-model="laudatory.Note"> </textarea>
                        <span ng-show="frmEditlaudatory.note.$invalid" class="has-error">Phải nhập địa chỉ</span>
                        <span ng-show="frmEditlaudatory.note.$error.maxlength" class="has-error">lớp chỉ được 250 ký tự</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="status" ng-model="laudatory.Status" ng-checked="laudatory.Status" />Kích hoạt
                            </label>
                        </div>
                    </div>
                </div>
            </div><!-- /.box-body -->
            <div class="box-footer">
                <button ui-sref="laudatory" class="btn btn-default">Cancel</button>
                <button type="submit" ng-disabled="frmEditlaudatory.$invalid" class="btn btn-success pull-right">Lưu</button>
            </div><!-- /.box-footer -->
        </form>
    </div><!-- /.box -->
</section><!-- /.content -->